
{% if template contains 'product' %}
<div class="shop-sheriff-view-count">
  <span class="shop-sheriff-view-count-label">Views:</span> <span class="shop-sheriff-view-count-value"></span></div>
<script>
    // IIFE - do not pollute the global scope
    (function(){
      var loadScript = function(url, callback){
    
        var script = document.createElement("script")
        script.type = "text/javascript";
    
        if (script.readyState){  //IE
            script.onreadystatechange = function(){
                if (script.readyState == "loaded" ||
                        script.readyState == "complete"){
                    script.onreadystatechange = null;
                    callback();
                }
            };
        } else {  //Others
            script.onload = function(){
                callback();
            };
        }
    
        script.src = url;
        document.getElementsByTagName("head")[0].appendChild(script);
      };
    
      const myAppJavaScript = function($){
        $.get('https://api.shopsheriff.com/api/product-view/{{ product.id }}?includeCss=true', 
              (data) => {
              // allow user updatable styles to be imported based on the API response
              var head = document.head || document.getElementsByTagName('head')[0];
              var style = document.createElement('style');
              $(style).attr('type', 'text/css');
              $(style).text(data.css);
              console.log('data:', data);
              style.id = 'shop-sheriff-view-count-styles';
              head.appendChild(style);
              $('#shop-sheriff-view-count-styles').text(data.css);
              // reveal the view count
              $('.shop-sheriff-view-count-value').html(new Intl.NumberFormat().format(data.pageviews))
              $('.shop-sheriff-view-count').css({'display' : 'block'});
              })
            .fail(e => {console.error(e);});
      };
      
      if ((typeof jQuery === 'undefined') || (parseFloat(jQuery.fn.jquery) < 1.7)) {
        var jQuery191;
        loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function(){
          jQuery191 = jQuery.noConflict(true);
          myAppJavaScript(jQuery191);
        });
      } else {
        myAppJavaScript(jQuery);
      }
    })();
  //
</script>
{% endif %}
